# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.yml

# Composer
composer.phar

# Testing QA
build/*
.sonar/*

# MacOSX
.DS_Store
*~

# Netbeans
nbproject/*

