parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     your_database_name 
    database_user:     your_database_user
    database_password: your_database_password

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            doej9823jd98jrf39f4nj43hj9f843
